body {
    background-color: mintcream;

}
.top {
    display: flex;
    flex-basis: 50%;
    height: 55px;
    justify-content: space-between;
}
h1 {
    display: flex;
    margin: 10px; 
    color: cornflowerblue;
}

.navigation {
    display:flex;
    padding: 10px;
    flex-direction: row; 
   
}

.button {
    background-color: #99ccff;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 15%;
    font-size: 20px;
    text-decoration: none;
}

.profilepic {
    display: flex;
    height: 350px;
    padding: 10px;
    
}

.intro {
    display: flex; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    color: #66b3ff; 
    

}

.websiteintro {
    display: flex;
    padding: 10px;
    margin: 10px;
    color: #66b3ff;
}

.website {
    display: flex;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #3399ff; 

}

.button2 {
    background-color: #99ccff;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 15%;
    font-size: 15px;
    text-decoration: none;
}