body {
    background-color: mintcream;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.top {
    display: flex;
    flex-basis: 50%;
    height: 55px;
    justify-content: space-between;
}
h1 {
    display: flex;
    margin: 10px; 
    color: cornflowerblue;
}

.navigation {
    display:flex;
    padding: 10px;
    flex-direction: row; 
   
}

.button {
    background-color: #99ccff;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 15%;
    font-size: 20px;
    text-decoration: none;
}

.profilepic {
    display: flex;
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    height: auto;
    
}

.intro {
    display: flex; 
    flex-direction: column;
    padding: 10px;
    margin: 10px 35px 10px 35px;
    color: #66b3ff;
    flex-basis: 40%;
    

}

.hello {
    display: flex;
    padding: 10px;

}

.software {
    display: flex;
    padding: 10px;

}

.description {
    display: flex;
    padding: 10px;

}

.websiteintro {
    padding: 10px;
    margin: 10px;
    color: #66b3ff;
}

.website {
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: #3399ff; 

}

.button2 {
    background-color: #99ccff;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 15%;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
}

@media (max-width: 576px) {
    .body {
        width: 50%;
        height: 50%;
    }
}